#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Icon_phone_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Icon_phone_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Two-line-item_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Two-line-item_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Icon_phone_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Two-line-item_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Icon_phone_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 238px;
  margin-top: -240px;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8177edc8-6f73-4b73-8b53-c6ca5e039ca5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}