#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Rectangle_42 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Panel_17 > .valign {
  vertical-align: top;
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Label_86 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Two-line-item_20 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Icon_phone_15 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Icon_phone_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Two-line-item_31 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Two-line-item_32 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Two-line-item_33 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Icon_phone_19 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Two-line-item_34 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Icon_phone_20 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ae107195-a6ca-4cab-a319-30ca3c5e345a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}