#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Label_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Label_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Rectangle_42 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Label_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Item-row {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Picture_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-date {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-date_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Item-row_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Picture_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-date_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-date_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Item-row_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Picture_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-date_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-date_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Ellipse_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
  filter: alpha(opacity=45);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Two-line-item_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Icon_phone_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Icon_phone_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Two-line-item_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Two-line-item_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Two-line-item_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Icon_phone_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Two-line-item_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Icon_phone_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-be8c5242-3b77-42be-b6cc-09dc740f9bbd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}