<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.berkeley.datascience.contextualhealer">


    <!-- User permission to run the application on the boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- TO make sure the application is used only on smartphones not on tablets -->
    <!--<compatible-screens>-->
        <!--&lt;!&ndash; all small size screens &ndash;&gt;-->
        <!--<screen android:screenSize="small" android:screenDensity="ldpi" />-->
        <!--<screen android:screenSize="small" android:screenDensity="mdpi" />-->
        <!--<screen android:screenSize="small" android:screenDensity="hdpi" />-->
        <!--<screen android:screenSize="small" android:screenDensity="xhdpi" />-->
        <!--&lt;!&ndash; all normal size screens &ndash;&gt;-->
        <!--<screen android:screenSize="normal" android:screenDensity="ldpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="mdpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="hdpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="xhdpi" />-->
    <!--</compatible-screens>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <!-- Launch Screen -->
        <activity android:name=".app.SplashScreenActivity"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".app.MainActivity"  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.CreateGoalActivity"  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.SettingsActivity"  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:screenOrientation="portrait"/>
        <activity android:name=".app.ContextualHealerSettingsActivity"  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:screenOrientation="portrait"/>

        <service android:name=".service.ContextRecognitionService"/>
        <service android:name=".service.ContextRecognitionServiceNew"/>

        <!-- Declaring broadcast receiver for BOOT_COMPLETED event. -->
        <!--<receiver android:name=".service.ContextRecognitionBroadcastReceiver" android:enabled="true" android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>